@import url('https://fonts.googleapis.com/css2?family=Inter:wght@350;700&family=Source+Sans+Pro:ital,wght@0,350;0,700;1,400;1,700&family=Lato:ital,wght@0,350;0,700;1,400;1,700&display=swap');

body {
          margin:0;
          font-family: "Inter"; font-weight: 350;
}

h1 {
          font-color: black;
}

.aligner {
          margin-left: 350px; margin-right: 350px;
}

/* Headers */
.discount-header {
          background-color:black; color:white; margin:0;
          display: flex; align-items: center; justify-content: center;
          font-size: 13px;
          height: 37px;
}

/* Logos */
.logo-container {
          display:flex; align-items: center; justify-content: center; 
}

.logo {
          width: 37%; height: 37%; margin: 0 auto;
          display: flex; align-items: center; justify-content: center;
}


/* Product Collection */
.product-collection-header {
          margin-left: 350px; margin-top: 30px;
          display: flex;
          font-size: 20px; margin-top: 30px; margin-bottom:0;
}

.product-collection {
          margin-left: 350px; margin-top: 30px;
          display: flex;
}

.image-banners {
          width: 100%; height: 720px;
          overflow: hidden; object-fit: cover;
}

/* Help, Mission and Email list */
.bottom-page {
          margin-left: 350px; margin-top: 30px;
          /* display: grid;
          grid-template-columns: 1fr 1fr; */
          align-items: left;
          height: 1000px;
}

